<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <!-- informo gup -->
  <meta name="keywords" content="西夏,蕃汉译语,古今文字,翻译">
  <meta name="description" content="汉字、西夏文选译器小工具">

  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

  <!-- ne baidu transkodo -->
  <meta name="Cache-Control" content="no-siteapp">

  <title>：蕃漢譯語</title>

  <!-- icons -->
  <link rel="icon" href="res/trad.png">
  <link rel="apple-touch-icon" href="res/trad.png">

  <link rel="stylesheet" href="res/style/trad.css">

</head>
<body>
  <div id="Trad" class="container">
    <div id="kaplinio">
      <h1>漢蕃譯語</h1>
      <div id="trad-form">
        <input type="text" id="env" placeholder="漢字、詞組、句子。">
        <button  @click="keyboard">⌨</button>
        <button onclick="trad()">譯</button>
      </div>

      <!-- vue createElement -->
      <div id="keyboard" v-if="kbDiv">
        <div class="row">
          <div class="radiko">橫</div>
          <div class="make"></div>
        </div>
        <div class="row">
          <div class="radiko">豎</div>
          <div class="make"></div>
        </div>
        <div class="row">
          <div class="radiko">撇</div>
          <div class="make"></div>
        </div>
        <div class="row">
          <div class="radiko">捺</div>
          <div class="make"></div>
        </div>
        <div class="row">
          <div class="radiko">折</div>
          <div class="make"></div>
        </div>
      </div>
      <!-- !End -->
      
      <div id="tip">
        <a href="#">關於譯語計劃</a>
        <a href="#">首部件查詢</a>
        <a href="#">字根碼表（稿）</a>
        <a href="#">五筆（稿）</a>
        <a href="#">Unicode字體</a>
      </div>
    </div>
    
    <div id="presi">
      
      <div class="sub-row">
        <div class="sub">我</div>
        <div class="esp" lang="tg">

          <div class="loro" v-for="i in dict">
            <div class="vorto">{{'0x'+i.Uni}}</div>
            <div class="sig">
              <p>{{i.Def}}</p>
              <p>adas</p>
            </div>
          </div>

        </div>

        <div class="def">斯</div>
      </div>

    </div>
    
    <div id="copyright">
      <p>晚菘<a href="#">·</a>译语计划</p>
    </div>
    
  </div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.3.4/dist/vue-router.min.js"></script>
<script>
  const dictDj=[{"Id":"6064","Kvin":"8441 42","Uni":"18774","Otp":"gja̱","Tra":"牙音，艾那切，娥。","Eng":"one’s name","Def":" 1.【娥】人名 ✦譯音 2.嬌滴滴、撒嬌"},{"Id":"6062","Kvin":"8241 21","Uni":"18371","Otp":false,"Tra":false,"Eng":false,"Def":"詫（同甲 36B45）"},{"Id":"6065","Kvin":"8545 74","Uni":"1842E","Otp":"gar","Tra":"牙音，玉啰切，桀。","Eng":"a surname","Def":" 1.【桀】族姓 ✦譯音 2.頭監"},{"Id":"6068","Kvin":"8822 44","Uni":"186D1","Otp":"tśhjiw","Tra":"正齒音，赤油切，抽。","Eng":"honest; upright; fairminded","Def":"正直 ✦形容詞"},{"Id":"6066","Kvin":"8721 52","Uni":"1835B","Otp":"tśjụ","Tra":"正齒音，知垂切，詐。","Eng":"a transliteration","Def":"【詐】 ✦譯音"},{"Id":"6069","Kvin":"8841 40","Uni":"1844E","Otp":"tjij","Tra":"舌頭音，打寧切，丁。","Eng":"a transliteration","Def":"【丁】 ✦譯音"}];


new Vue({
  el: "#Trad",
  data:{
    kbDiv: true,
    dict: dictDj
  },
  methods:{
    keyboard: function(){this.kbDiv= this.kbDiv === false ? true:false},
  }
})

// custom function.
function key(){}

function trad(str){}
function seek(keyword){}

</script>
</body>
</html>