$mac:  5120px;
$pc: 1440px;
$web: 1280px;
$pad: 1080px;
$screen: 640px;
$watch: 320px;

$red: #f43f3b;
$orange: #ff9700;
$yellow: #f0c000;
$green: #39b54a;
$cyan: #1cbbb4;
$blue: #0078ff;
$purple: #5e00ff;
$indigo: #4B0082;
$brown: #a86048;
$pink: #f54291;

$dark: #34495e;
$black: #0a0a0a;
$white: #f9f9f9;

$gray: #bfc4c7;
$gray-dark: #999999;
$gray-light: #e3e6e8;

$gold: #f6ac49;
$goldU: #d3a86a;
$goldN: #dcc284;
$silver: #f0f5f5;
$silverU: $silver + 15%;
$silverN: $silver - 15%;
$brass: #f0a848;

$true-white: #ffffff;
$true-black: #000000;

$font-family: -apple-system, BinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif!default;
$font-kaiti: hy814, KaiTi!default;

$family: $font-family;
$kaiti:  $font-kaiti, $font-family;
$tangut: 'tg pleta', $font-family!default;