// teksto.github.io_font-fmaliy

:lang(tgk){font-family: 'tg kap';}
:lang(tg){font-family: 'tg pleta';}

@font-face{
  font-family: 'tg kap';
  src: url('../font/u18800.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'tg pleta';
  src: url('../font/tangut.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

// http://www.hanyi.com.cn/productdetail?id=814
@font-face{
  font-family: hy814;
  src: url('../font/hy814.ttf') format('woff');
  font-style: normal;
  font-display: swap;
}

// http://www.hanyi.com.cn/productdetail?id=6308&type=0
// @font-face{
//   font-family: 'hy6803';
//   src: url() format('');
//   font-style: normal;
//   font-display: swap;
// }