@import "baze";
@import "faru";
@import "animacio";

body{
  margin: 0 auto;
  color: $dark;
  font-family: $family;
  height: calc(100vh - 1.2rem);
  @media (max-width: $screen){height: 100vh;}
}
a{
  color: $dark;
  text-decoration: none;
  &:hover{
    color: $true-black;
  }
}
h1{
  font-weight: 500;
  margin: 1.2rem auto .3rem;
}
h2{
  font-weight: 500;
  margin: .9rem auto .1rem;
}

// function
@mixin centro{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// navigation
#Navigado{
  z-index: 990;
  height: 100%;
  width: 3rem;
  top: 0;
  left: 0;
  overflow: hidden;
  // position: sticky;
  position: fixed;
  font-size: 1.5rem;
  line-height: 3rem;
  font-family: $kaiti;
  background-color: $white;
  box-shadow: .3rem 0 .9rem $dark;

  
  #logo{
    animation: lumo 3s infinite;
    img{max-width: 2.8rem;}
  }
  #nav-bar{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 3rem);
    padding: 0 0 .9rem 0;
    
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar{display: none;}

    .item{
      writing-mode: vertical-lr;
      &::before{
        content: '✦';
        font-size: 1rem;
        line-height: 1.2rem;
      }
      &:first-child::before{content: '';}
      &:last-child{margin-bottom: 3rem;}
    }
  }
}

// layout
#Teksto{
  height: 100vh;
  width: calc(100% - 3rem);
  margin-left: 3rem;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  overflow: auto;

  .spaco{
    height: 100vh;
    overflow-y: auto;
    display: inline-block;
    scroll-snap-align: center;
    & > div{
      width: 100vw;
      height: 100vh;
    }
  }
  &::-webkit-scrollbar{display: none;}
}

.project-areo{
  & > div{
    // width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .sign{
      color: $white;
      text-align: center;
      font-family: $kaiti;
    }
  }
}
#Unu{
  background-color: #fffff0;
  & > div{
    display: inline-flex;
  }
  #foto{
    height: calc(100vh - 3.6rem);
    padding: 1.8rem;
    img{max-height: 100%;}
  }
  #testo{
    margin: auto;
    padding: 1.8rem;
    font-size: 1.8rem;
    writing-mode: tb-rl;
    white-space: normal;
  }
}
#Cabbage{background-color: $green;}
#Kvin{
  background-color: #CDDCDC;
  background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%),linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
  background-blend-mode: screen, overlay;
  & > div{@include centro();}
  .vidon{
    width: 60vw;
    // margin: auto;
    .montru{
      font-size: 1.8rem;
      line-height: 2.1rem;
      white-space: normal;
    }
    .ligilo{
      display: grid;
      margin: 3rem auto;
      grid-template-columns: repeat(2, 1fr);
      a{
        &:last-child{text-align: right;}
        &:hover{text-decoration: line-through;}
      }
    }
    @media (max-width: $screen){
      width: 80vw;
      // margin-left: 3rem;
      .montru{
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
      .ligilo{
        margin: 1.5rem auto;
      }
    }
  }
}
#Traduki{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  & > div{@include centro();}
  .vidon{
    width:  60vw;
    font-family: $kaiti;
    .header{
      font-size: 3.8rem;
      margin: 1.2rem auto;
      text-align: center;
    }
    .ska{
      display: grid;
      grid-template-columns: 90% auto;
      input,
      button{
        appearance: none;
        font-size: 1.2rem;
        padding: .6rem .9rem;
        border: 1px solid $white;
        border-radius: .3rem 0 0 .3rem;
        outline: 0;
      }
      button{
        border-radius: 0 .3rem .3rem 0;
        background-color: $red;
        color: $white;
        &:hover,
        &:focus{
          color: $red;
          background-color: $gray-light;
        }
      }
    }
    .slog{
      li{
        white-space: normal;
        font-size: 1rem;
        line-height: 1.2rem;
        padding: .3rem 0;
      }
    }
    @media (max-width: $screen){
      width: 70vw;
    }
  }
}
#Papago{background-color: $red;}
#Karto{
  & > div{
  }
  #sup-karto{
    column-count: 6;
    column-gap: 1.2rem;
    // display: block;
    // overflow-y: scroll;
    // &::-webkit-scrollbar{display: none;}
    // width: calc(100vw - 3rem);
    margin: 1.2rem 2.4rem 1.2rem 3rem;
    // card-style
    .card{
      break-inside: avoid;
      padding: .3rem .6rem;
      margin: .6rem auto;
      max-width: 300px;
      border: 1px solid $gray-light;
      border-radius: .3rem;
      background-color: $white;
      box-shadow: 0 0 .6rem $gray-dark;
      .card-hd{
        font-size: 8vw;
        text-align: center;
      }
      .card-def{
        white-space: normal;
        font-size: .6rem;
        line-height: 1.2rem;
      }
      &:hover,
      &:focus{
        transform: scale(1.5);
        box-shadow: 0 1.2rem 1.8rem $gray-dark;
      }
    }
    @media (max-width: $pc){column-count: 5;}
    @media (max-width: $web){column-count: 4;}
    @media (max-width: $pad){column-count: 3;}
    @media (max-width: $screen){column-count: 2;}
  }
  .qr-pago{
    width: 128px;
    margin: .6rem auto;
  }
}
#Glyph{}
#Sigelo{}
#JZP{
  background-image: url('../jzp.jpg');
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: $screen){
    background-size: cover;
    background-position: 0 0;
  }
}
#Pri{
  & > div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tablo{
    width: 60vw;
    #qrSec{
      text-align: right;
      border-bottom: .1rem solid $dark;
    }
    #sur{
      margin: .3rem;
      display: grid;
      white-space: normal;
      grid-template-columns: repeat(3, 1fr);
      h1{
        font-size: 1.8rem;
        // font-weight: bold;
        font-family: $kaiti;
      }
      p,
      li{
        color: mix($dark, $white);
        font-size: .9rem;
        line-height: 1.2rem;
        margin: .1rem .3rem;
        &:hover,
        &:focus{color: $dark;}
      }
    }
    #vendotablo{
      color: $gray;
      border-top: 1px solid $gray;
    }
    @media (max-width: $screen){
      width: 80vw;
      #sur{grid-template-columns: repeat(1, 1fr);}
    }
  }
}
