// 言鏡：掃盡煙塵散，殘碑通古今，一筆橫折勾，鐵線織輿鏡。灌園鬻蔬，宜然自得。第一二三四五六七八九十初正篇章文字晚菘鸚鵡學舌韻卡篆字典誌時歲書西夏契丹遼女真金書簡字譜筆劃譯語上下左右去歸引

// http://www.hanyi.com.cn/productdetail?id=474

@import "baze";
@import "faru";
@import "animacio";

@mixin centro {
  align-items: center;
  justify-content: center;
}

body{
  margin: 0 auto;
  font-family: $font-family;
}

// TEKSTO Layout
#Teksto{
  height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  display: flex;

  #Navigado{
    top: 0;
    left: 0;
    position: sticky;
    font-family: $font-kaiti;
    background-color: $true-white;
    box-shadow: 0 .1rem .3rem $dark;

    z-index: 999;

    #logo{
      animation: lumo 3s infinite;
      img{max-width: 3rem;}
    }
    #nav-bar{
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 3rem);

      .item{
        writing-mode: vertical-lr;

        &::before{
          content: '·';
        }
        &:first-child::before{content: '';}
        a{
          font-size: 1.8rem;
          line-height: 3rem;
          text-decoration: none;
          color: $dark;

          &:hover,
          &:focus{
            color: $red;
          }
        }
      }
    }
  }

  #Spaco{
    flex: 1;
    white-space: nowrap;

    // unu
    #foto{
      background-color: #fffff0;
      & > div{
        height: 100%;
        img{max-height: 100%;}
      }
    }
    #Unu{
      background-image: linear-gradient(-60deg, #007818 0%, #fffff0 100%);
      @include centro;

      & > div{
        width: 100vw;

        .bn{
          font-size: 3rem;
          text-decoration: none;
          margin: .3rem;
          padding: .6rem;
          border-radius: 5px;
          background: linear-gradient(145deg, #e6e6d8, #fffff0);

          &:focus,
          &:hover{
            margin: .3rem;
            padding: .6rem;
            border-radius: 5px;
            background: linear-gradient(145deg, #e6e6d8, #98f386);
            box-shadow:  6px 6px 12px #d9d9cc;
          }
          @media (max-width: $screen){
            font-size: 1.5rem;
            margin: .1rem;
          }
        }
      }
    }

    // du
    #Cabbage{
      color: $white;
      background-color: #007818;
      @include centro;

      & > div{
        width: 100vw;
      }
    }
    // tri
    #Kvin{
      width: 100vw;
      background-color: #CDDCDC;
      background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
      background-blend-mode: screen, overlay;
      @include centro;

      & > div{
        width: 60vw;
        color: $dark;
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;
        font-size: 1.8rem;
        line-height: 3rem;

        @media (max-width: $screen){width: 100vw;}
      }
    }
    // kvar
    #Traduki{
      width: 100vw;
      background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
      @include centro;

      & > div{
        h1{
          font-family: $font-kaiti;
          font-size: 3.8rem;
          font-weight: 500;
          color: $dark;
        }
        .ska{
          input{
            font-family: $font-kaiti;
            font-size: 1.8rem;
            line-height: 2.1rem;
            padding: .6rem;
            border: 1px solid $gray;
            border-radius: .3rem;
            outline: 0;
            width: 50vw;
          }
          button{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none;
            border-radius: .3rem;
            font-family: $font-kaiti;
            font-size: 1.8rem;
            padding: .6rem;
            margin: 0 .6rem;
            color: $red;
            outline: 0;

            &:focus,
            &:hover{
              color: $white;
              background-color: $red;
            }
          }
        }
        .slogano{
          text-align: left;
          // border-top: 1px dashed $white;
          margin: 1rem .3rem 0 .3rem;
          ul{
            padding-left: 1.6rem;
            li{
              color: $dark;
              font-size: 1.2rem;
              line-height: 1.8rem;
              font-family: $font-kaiti;
            }
          }
          a{
            color: darken($dark, 9);
            text-decoration: none;

            &:hover{text-decoration: line-through;}
          }
        }
        @media (max-width: $screen){
          .ska{
            input{width: 75vw;}
          }
          .slogano{
            width: 100vw;
            white-space: normal;
          }
        }
      }
    }

    // kvin
    #Papago{
      color: $white;
      background-color: #FF0018;

      @include centro;

      & > div{
        width: 100vw;
      }
    }
    // ses
    #Karto{
      & > div{
        column-count: 5;
      }
    }

    // sep
    #Capitro{
      background-color: $white;
      & > div{}
    }
    // ok
    #Sigelo{
      color: $white;
      background-image: linear-gradient(to right, #434343 0%, black 100%);
      & > div{}
    }
    // nau
    #JZP{
      width: 100vw;
      background-image: url(../res/jzp.jpg);
      background-repeat: no-repeat;
      background-position: center;
      & > div{}
    }

    // dek-unu
    #Libro{
      background-color: #fffbf0;
      & > div{}
    }

    // dek-du
    #kopirajto {
      // align-items: center;
      // justify-content: center;
      @include centro;

      & > div{
        width: 100vw;
        #Pri{}
        #Ligilo{
          width: 60vw;
          overflow: auto;
          display: inline-flex;
          scroll-snap-type: x mandatory;
        
          & > .bl{scroll-snap-align: center;}
          @media (max-width: $screen){width: 100vw;}
        }
        #Copyright{
          font-size: .6rem;
          color: $gray;
        }
      }
    }
  }
}

// Flex
.Ujo{
  .areo{
    width: auto;
    margin: auto;
    padding: .9rem;
    text-align: center;
    display: inline-flex;
    vertical-align: top;
    height: calc(100vh - 2.7rem);
    
    @media (max-width: $screen){height: 100vh;}
  }
}

// LUMO

// Universala

// Alia
.divider{
  width: auto;
  margin: .3rem auto;
  border-bottom: 1px dashed $gray;
}
.bl{
  padding: .3rem;
  margin: .3rem;
  border: 1px solid lighten($dark, 9);
  border-radius: .3rem;
}

.cefa{
  h1{font-family: $font-kaiti;}
  .priskribo{}
}