// teksto.github.io_Translate
@import "faru";
@import "baze";

body{
  color: $dark;
  margin: 0 auto;
  min-height: 100vh;
  font-family: $font-family;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#Trad{
  width: 60vw;
  @media (max-width: $pc){width: 80vw;}
  @media (max-width: $screen){width: 90vw;}
}

#kaplinio{
  text-align: center;
  h1{
    font-size: 3.8rem;
    font-weight: 500;
    font-family: $kaiti;
  }
  #trad-form{
    display: grid;
    grid-template-columns: auto 3rem 3rem;
    input,
    button{
      appearance: none;
      outline: 0;
      font-size: 1.5rem;
      // padding: .3rem .6rem;
      border: 1px solid $white;
      font-family: $kaiti;
    }
    input{
      padding: .6rem .9rem;
      border-radius: .3rem 0 0 .3rem;
    }
    button{
      color: $white;
      padding: .6rem;
      background-color: $red;
      &:hover,
      &:focus{
        color: $red;
        background-color: $white;
      }
      &:last-child{
        border-radius: 0 .3rem .3rem 0;
      }
    }
    @media (max-width: $screen){
      grid-template-columns: 65vw 3rem 3rem;
    }
  }
  #tip{
    margin: .9rem;
    font-size: .9rem;
    line-height: 1.2rem;
    a{
      color: $dark;
      text-decoration: none;
      &:hover{color: $blue;}
      &::after{content: ' | ';}
      &:last-child::after{content: ' ';}
    }
  }
}

#presi{
  margin: 1.2rem auto;
  padding: .3rem .6rem;
  border-radius: .1rem;
  background-color: $white;
  font-family: $tangut;
}

#copyright{
  color: lighten($dark, 30);
  text-align: center;
  font-size: .9rem;
  a{
    color: mix($dark, $blue);
    text-decoration: none;
  }
}

// keyboard areo.
#keyboard{
  border-radius: .1rem;
  background-color: $white;
  font-family: $tangut;
  #key-kap{
    padding: .6rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: $kaiti;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .column{
      &:hover,
      &:focus{
        background-color: $gray-light;
      }
    }
  }
  #key-board{
    font-size: 1.5rem;
    color: lighten($dark, 30);
    border-top: 1px dotted $gray;
    .key-row{
      padding: .6rem;
      text-align: left;
      border-bottom: 1px dotted $gray;
      &:last-child{border-style: none;}
      a{
        padding: .3rem;
        color: lighten($dark, 30);
        text-decoration: none;
        &:hover,
        &:focus{
          background-color: $gray-light;
        }
      }
    }
  }
}

// print areo row.
.sub-row{
  display: grid;
  grid-template-columns: 3rem auto 3rem;
  border-bottom: 1px dotted $gray;
  &:last-child{border-style: none;}
  .esp{
    display: flex;
    // grid-template-columns: repeat(6, 1fr);
    width: auto;
    overflow-x: auto;
    &::-webkit-scrollbar{display: none;}
    .loro{
      flex: 1 0 0;
      padding: .1rem .3rem;
      // margin: auto .3rem;
      .vorto{
        color: lighten($dark, 15);
      }
      .sig{
        font-size: .6rem;
        line-height: .9rem;
        white-space: nowrap;
        p{
          color: $gray-dark;
          padding: 0 .3rem;
          margin: .1rem auto .3rem;
          border-left: .1rem solid $gray-dark;
        }
      }
      &:hover,
      &:focus{
        background-color: $gray-light;
      }
    }
  }
  .sub,
  .def{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub{
    font-size: 1.5rem;
    box-shadow: .3rem 0 .3rem $gray-light;
  }
  .def{
    font-size: 1.8rem;
    box-shadow: -.3rem 0 .3rem $gray-light;
  }
}